* {
    color: white;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100vh;

    background-color: hsl(240, 5%, 10%);
}

button {
    min-width: 70vw;
    margin: 10px;

    background-color: hsl(0, 5%, 15%);
    border: 5px solid black;    
    padding: 10px;

    font-size: 25px;
}

#modeOptions input{
    margin: 10px;
}

#gameInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

#question {
    background-color: hsl(240, 5%, 15%);
    border: 5px solid black;    
    padding: 5px;
    margin: 10px;

    font-size: 50px;
    font-weight: bolder;
    letter-spacing: 5px;
}

#inputBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#inputBox button {
    min-width: 100px;
    min-height:  100px;
    margin: 10px;

    background-color: white;
    color: black;
    font-size: 50px;
}

#resultBox {
    background-color: hsl(0, 100%, 50%);
    border: 5px solid black;
    padding: 25px;
    margin: 10px;
}

#keyboard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#keyboard button {
    min-width: 15vw;
    margin: 5px;
}

.selected {
    border: 5px solid white;
}

.hidden {
    display: none !important;
}